* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins";
}

header {
  height: 100vh;
  width: 100vw;
  background-image: url(img/background.jpg);
  background-size: cover;
}

.navbar{
    position: absolute;
    padding: 50px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
    align-items: center;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
}

.navbar .nav-links ul li.active a{
    color: red;
    font-weight: 600;
}

.navbar .menu-hamburger{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}

@media screen and (max-width: 900px){
    .nav-links{
        display: none;
    }
}

